html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 3em;
}

.footer {
	position: relative;
	margin-top: -3em;
	height: 3em;
	clear: both;
	padding-top: 1em;
	text-align: center;
}
